<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsq.search.mapper.VideoMapper">
    <resultMap id="videoResultMap" type="Video">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="url" column="url"/>
        <result property="title" column="title"/>
        <result property="commentNum" column="comment_num"/>
        <result property="likedNum" column="like_num"/>
        <result property="reviewStatus" column="review_status"/>
        <result property="showStatus" column="show_status"/>
     </resultMap>

    <!--    级联查询中User和Video的信息-->
    <resultMap id="getUserVideos" type="User">
        <id column="user_id" property="id"></id>
        <result column="username" property="username"/>
        <collection property="videoList" ofType="Video">
            <id column="video_id" property="id"></id>
            <result property="url" column="url"/>
            <result property="title" column="title"/>
            <result property="reviewStatus" column="review_status"/>
            <result property="showStatus" column="show_status"/>
        </collection>
    </resultMap>

    <!--    查询用户的视频资源-->
    <select id="getMyVideos" resultMap="getUserVideos">
        select u.id as user_id,u.username as username,v.id as video_id,v.url,v.title,v.review_status,v.show_status
        from user u left join video v on u.id = v.user_id
        where u.id=#{id}
    </select>

    <!--根据视频id来查询相应的视频资源    -->
    <select id="selectVideoById" resultMap="videoResultMap">
        select *
        from video
        where id = #{id}
    </select>

    <!--插入视频资源信息    -->
    <insert id="insertVideo" parameterType="Video" useGeneratedKeys="true" keyProperty="id">
        insert into video(user_id,url,title)
        values (#{userId},#{url},#{title})
    </insert>

    <!--更新视频资源信息    -->
    <update id="updateVideo">
        update video
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="commentNum != null">
                comment_num = #{commentNum}
            </if>
            <if test="likedNum != null">
                like_num = #{likedNum}
            </if>
        </set>
    </update>
</mapper>